:host {
  .app-users-grid {
    ag-grid-angular {
      height: 650px;
    }
  }
  
  ::ng-deep {
    .app-users-grid__icon {
      display: flex;
      justify-content: center;

      .mat-icon {
        color: #3f51b5;
      }
    }
  }
}