:host {
  width: 32%;

  .app-repositories-list-item {
      min-height: 300px;

      &__content {
        &__block {
          display: flex;
          justify-content: flex-start;
          gap: 20px;
          width: 100%;
          padding-top: 20px;

          &__title {
            width: 40%;
            font-weight: 600;
          }

          &__description {
            width: 55%;
          }
        }
      }
    
    .example-header-image {
      // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }  

  ::ng-deep {
    .mat-mdc-card {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }
}