<div [@slideInOut]="isNavOpen">
  <div class="navigation-line__container">
    <!-- <div class="logo__container">
      <img class="logo" src="assets/images/kohls-kops-logo.png"
        *ngIf="isNavOpen"
        (click)="navigateToHome()"/>
    </div> -->
    <mat-nav-list>
      <a mat-list-item
        class="navigation-item toggle"
        (click)="toggleState()">
        <mat-icon
          [ngClass]="isNavOpen ? 'toggle_opened' : 'toggle_closed'"
          class="navigation-item__icon">
          {{ toggleIcon }}
        </mat-icon>
      </a>
      <a mat-list-item
        class="navigation-item"
        [ngClass]="activePath === item.navLink ? 'navigation-item_active' : ''"
        *ngFor="let item of navigationItems"
        (click)="navigateTo(item.navLink)">
        <div class="navigation-item__wrapper">
          <mat-icon
            class="navigation-item__icon">
            {{ item.navIcon }}
          </mat-icon>
          <div *ngIf="isNavOpen"
            class="navigation-item__description">
            {{ item.navText }}
          </div>
        </div>
      </a>
    </mat-nav-list>
  </div>
</div>
